<div>   
    <h1><%= @dojo.branch %> Dojo</h1>
    <p>Address: <%= @dojo.street %></p>
    <p>City: <%= @dojo.city %> State: <%= @dojo.state %></p>

    <a href="/">Home</a> |
    <a href="/dojos/<%= @dojo.id %>/edit">Edit</a>

</div>